* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
}

.lds-spinner.hide {
  display: none;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 25% 47%;
  background-color: #fff;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


h3 {
  font-size: 14px;
  color: #e2e2e2;
}

.video-player {
  background: transparent;
  width: 880px;
  min-height: 500px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.setting {
  width: 210px;
  background: #0e0e0e91;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  right: 10px;
  bottom: 65px;
  display: none;
}

.setting.active,
.themes.active,
.speeds.active {
  display: block;
}

.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 20px;
  cursor: pointer;
}

.set:hover {
  background: #62626273;
}

.set span {
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px 0 5px;
}

.set i {
  font-size: 10px;
}

.themes {
  width: 210px;
  background: #0e0e0e91;
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  padding: 0 0 5px;
  position: absolute;
  right: 10px;
  bottom: 65px;
  z-index: 3;
  display: none;
}

.title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #646464;
  padding: 10px 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.themes i {
  font-size: 12px;
  margin-left: 5px;
}

.title i {
  font-size: 10px;
}

.dark,
.light {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 13px;
}

.dark:hover,
.light:hover {
  background: #62626273;
}

.speeds {
  width: 210px;
  height: 200px;
  background: #0e0e0e91;
  overflow-y: scroll;
  border-radius: 2px;
  padding: 0 0 5px;
  position: absolute;
  z-index: 3;
  right: 10px;
  bottom: 65px;  
  display: none;
}

.speeds::-webkit-scrollbar {
  width: 10px;
  background: #414141;
}
.speeds::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

.speeds::-webkit-scrollbar-corner {
  background: none;
}


.speeds i {
  font-size: 12px;
  margin-left: 5px;
}

.speed-number {
  display: flex;
  align-items: center;
  color: #e2e2e2;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 13px;
}

.speed-number:hover {
  background: #626262;
}

.speeded {
  display: flex;
  align-items: center;
}

.option-1 i,
.option-2 i,
.option-3 i,
.option-4 i,
.option-5 i,
.option-6 i {
  display: none;
}

label {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}

label:hover {
  background: #62626273;
}

label p {
  margin-right: 10px;
  padding: 0;
  color: #fff;
  font-size: 13px;
}

#option-1:checked ~ .option-1 i,
#option-2:checked ~ .option-2 i,
#option-3:checked ~ .option-3 i,
#option-4:checked ~ .option-4 i,
#option-5:checked ~ .option-5 i,
#option-6:checked ~ .option-6 i {
  display: flex;
  color: #e2e2e2;
}

input[type="radio"] {
  display: none;
}

.text {
  width: 100%;
  height: 50px;
  color: #e2e2e2;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
  transition: transform 0.5s;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  z-index: 99;
  position: absolute;
}

.vol {
  width: 80px;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -300%);
  color: #fff;
  padding: 10px;
  background: #0e0e0e91;
  z-index: -1;  
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s ease;
}

.video-controls {
  position: absolute;
  z-index: 99;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  bottom: 0;
  padding: 0 10px;
  transition: transform 0.5s;
}


.progress-area {
  width: 100%;
  height: 5px;
  background: #2d2d2d;
  margin: 10px 0;
  cursor: pointer;
}

.progress-area:hover {
  height: 10px;
}

.progress-area:hover .progress-bar::before {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.progress-bar {
  height: inherit;
  background: #ff0000;
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: inherit;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  opacity: 0;
}

.control-btn {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 10px;
}

/* Left side */
.control-btn-left {
  display: flex;
  align-items: center;
}

.play_pause {
  width: 25px;
  height: 25px;
  display: flex;
  position: relative;
  margin-right: 10px;
}

i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.fa-stop {
  font-size: 25px;
}

.control-btn-left .fa-play,
.control-btn-left .fa-pause {
  font-size: 25px;
  transform: scale(0);
  transition: 0.5s;
  left: 0;
  top: 0;
  position: absolute;
}

.fa-play.active,
.fa-pause.active {
  transform: scale(1);
  transition: 0.5s;
  position: absolute;
}

.volume {
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.volume:hover input {
  width: 70px;
}

.volume:hover input::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
}

.control-btn-left .fa-volume-up,
.control-btn-left .fa-volume-down,
.control-btn-left .fa-volume-mute {
  width: 20px;
  height: 20px;
  transition: opacity 0.8s;
  opacity: 0;
  position: absolute;
}

.fa-volume-up.active,
.fa-volume-down.active,
.fa-volume-mute.active {
  transition: opacity 0.8s;
  opacity: 1;
  z-index: 2;
}

input {
  -webkit-appearance: none;
  height: 3px;
  width: 0;
  background: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 30px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
}

.timer {
  color: #fff;
}

/* Right side */
.control-btn-right {
  display: flex;
  align-items: center;
}

.fa-cog,
.fa-expand,
.fa-compress {
  font-size: 20px;
  transition: transform 0.5s ease;
}

.fa-cog.active {
  transform: rotate(60deg);
  transition: transform 0.5s ease;
}

.control-btn-right .fa-expand,
.control-btn-right .fa-compress {
  display: none;
}

.fa-expand.active,
.fa-compress.active {
  display: block;
}

/* Playlist */
.playlist {
  background-color: #e2e2e2;
  width: 500px;
  height: 500px;
  border: 1px solid #aaa;
  margin-top: 2px;
  margin-left: 20px;
}

.playlist h3 {
  font-size: 20px;
  color: #2d2d2d;
}

.list {
  overflow-y: scroll;
  height: 430px;
  margin: 5px 5px 0 0;
}

.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 10px;
}

.playlist img {
  width: 190px;
  height: 110px;
  margin-right: 10px;
}

.playlist-text {
  display: flex;
  align-items: center;
  color: #2d2d2d;
  background-color: #fff;
  padding: 10px 20px;
}

.list-item {
  display: flex;
  margin: 0 5px 0 0;
  cursor: pointer;
  padding: 10px 20px;
  align-items: center;
}

.list-item.active {
  background-color: #f5f5f5;
}

.list-item:hover {
  background-color: #f5f5f5;
}

.list-item i {
  opacity: 0;
}

.playing i {
  color: #2d2d2d;
  opacity: 1;
}

.list-text {
  font-weight: bold;
}

.list-item.playing {
  background-color: #f5f5f5;
}

#videohide {
  display: none;
}
